.header-div{
    margin: 0 5px;
    /* padding: 10px; */
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(255, 255, 255);
    background: linear-gradient(
        99.37deg,
        #eab88d 23.63%,
        /* #f0d5c8 29.63%, */
        /* #487083 29.63%, */
        #f0d5c8 51.55%,
        #487083 80.85%
    );
    /* background-color: #f0d5c8; */
    border-bottom: 4px solid #3da2e6;
    border-radius: 0  0 30px 30px;
}
.user-search{
    height: 32px;
    width: 350px;
    margin-left: 25px;
    padding-left: 20px;
    border: 2px solid #6cb4e4;
    border-radius: 3px;
}
.header-left{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-right{
    display: flex;
    align-items: center;
}
.user-name-header{
    margin-right: 1rem;
}