.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.resort-list-header-left{
    width: 40%;
    display: flex;
    gap: 1rem;
}
.resort-list-header-left>input{
    height: 35px;
    width: 80%;
    border: 2px solid rgba(255, 139, 191, 0.725);
    padding-left: 20px;
}
.add-resort-btn{
    background-color: cornflowerblue;
    padding: 6px;
    color: white;
    border-radius: 4px;
}
.link-modi{
    text-decoration: none;
}