.resort-card{
    background: linear-gradient(
        106.37deg,
        #fff3d1 29.63%,
        /* #ddd2b4 29.63%, */
        /* #ffcfd1 51.55%, */
        #7df9fb 90.85%
    );
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 0 20px #7171717b;
    margin-bottom: 1.5rem;
    display: flex;
    gap: 4.5rem;
}


.pop-up-pending{
    height: 70vh;
    width: 60%;
    padding: 1.2rem 1.2rem;
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    overflow: auto;
    border-radius: 10px;
    box-shadow: 0 0 30px #71717156;
    background-color: #fff1e0;

}
.resort-name-toggle{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.resort-images>img{
    height: 12rem;
    margin-right: 1rem;
}
.resort-popup-btn{
    width: 7rem;
    height: 2.5rem;
    font-size: 16px;
    border: none;
    color: white;
    padding: 0.5rem;
    border-radius: 3px;
}
.resort-popup-btn:is(:hover, :focus){
    outline-offset: 10px;
}