 .flex {
     display: flex;
 }

 .titles {
     text-align: center;
     
 }

 .registerwith-main-container {
    height: 100vh;
 }

 .image-form-container {
     position: absolute;
     top: 3%;
     left: 50%;
     transform: translateX(-50%);
     /* padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px; */
     padding: 15px 50px;
     width: 60%;
     height: max-content;
     display: flex;
     flex-direction: column;
     align-items: center;
     background-color: rgba(255, 255, 255, 0.377);
     border-radius: 30px;
 }

 .image-only-container {
     padding: 2rem;
 }

 .image-only-container>img {
     width: 100%;
     height: 100%;
 }

 .form-only-container {
     padding: 1rem;
     width: 100%;
 }

 .registerwith-two-col {
     display: grid;
     grid-template-columns: 1fr 1fr;
     gap: 2rem;
 }

 .registerwith-input {
     width: 100%;
     padding: 10px;
     background-color: #ffffff82;
     border: 1px solid transparent;
     border-bottom: 3px solid #fa3c52;
     margin-bottom: 13px;
     margin-right: 1rem;
 }

 .registerwith-btn {
     padding: 12px 20px;
     border: none;
     cursor: pointer;
     font-size: 20px;
     font-weight: bold;
     color: white;
     background-color: #fa3c52;
     margin-top: 1.6rem;
     width: 100%;
 }

 .registerwith-btn:hover {
     background-color: #ff6275;

 }

 .registerwith-select {
     width: 100%;
     padding: 10px;
     background-color: #ffffff82;
     border: 1px solid rgb(232, 232, 232);
     border-bottom: 3px solid #fa3c52;
     margin-bottom: 13px;
     margin-right: 1rem;
 }

 .regi-succ-bg {
     background: linear-gradient(106.37deg,
             #fff3d1 29.63%,
             /* #ddd2b4 29.63%, */
             /* #ffcfd1 51.55%, */
             #7df9fb 90.85%);
     height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .success-main-container {
     background-color: white;
     height: 62vh;
     width: 50%;
     box-shadow: 0 0 20px 22px #0000003e;
     border-radius: 12px;
 }

 .regi-heading-div>h2 {
     margin-bottom: 0;
 }

 .regi-heading-div>p {
     margin-bottom: 0;
 }

 .regi-heading {
     text-align: center;
 }

 .regi-img {
     display: flex;
     justify-content: center;
 }

 .done-img {
     height: 20rem;

 }

 .regi-btn-div {
     display: flex;
     justify-content: center;
 }

 .regi-btn {
     height: 2.5rem;
     width: 10rem;
     border: none;
     background-color: #FF919D;
     color: white;
     font-size: 17px;
     font-weight: bold;
     cursor: pointer;
 }