.checkout-heading{
    margin-top: 3rem;
    text-align: center;
}
.form-details-container{
    display: flex;
    width: 100%;
    height: max-content;
    /* background-color: brown; */
    gap: 1rem;
}
.checkform-container{
    width: 65%;
    height: max-content;
    background-color: #d1d1d175;
    border-radius: 8px;
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.booking-form-dates{
    width: 85%;
    /* display: flex; */
    /* gap: 1rem; */
}
.booking-checkout-input-container{
    width: 85%;
    margin-bottom: 0.6rem;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.booking-checkout-input-container-half{
    width: 50%;
    margin-bottom: 0.6rem;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.booking-input-name{
    width: 85%;
    border: none;
    border-radius: 3px;
    padding: 12px 15px;
    margin-bottom: 3px;
}
.booking-input-date{
    width: 70%;
    border: none;
    border-radius: 3px;
    padding: 10px 15px;
    margin-bottom: 1.2rem;
}
.details-container{
    width: 30%;
    border-radius: 8px;
    padding: 1.2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #d1d1d175;
}
.booking-img-container{
    display: flex;
    justify-content: center;
    width: 6rem;
    height: 4rem;
    
}
.booking-resort-img{
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
}
.booking-details-name{
    width: 75%;
}
.booking-details-small{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 70%;
}
.booking-details-name>h3,h4{
    margin-top: 5px;
    margin-bottom: 0; 
}

.booking-details-card{
    border: 3px solid rgb(171, 171, 171);
    border-radius: 8px;
    width: 80%;
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.booking-right-input{
    width: 90%;
    border: none;
    border-radius: 3px;
    padding: 10px 15px;
    margin-bottom: 1.2rem;
}
.booking-details-input{
    width: 70%;
}
.booking-payment-method{
    gap: 1rem;
    display: flex;
    flex-direction: column;
}
.booking-btn-container{
    margin-top: 20px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.booking-btn{
    border: none;
    border-radius: 3px;
    font-size: 20px;
    height: 35px;
    width: 80%;
    color: white;
    background-color: #4361ee;
}
.razorpay-booking-btn{
    border: none;
    border-radius: 3px;
    font-size: 20px;
    height: 40px;
    width: 80%;
    color: white;
    background-color: blueviolet;
}
.booking-btn:hover{
    background-color: #3c57d0;
}

.booking-coupon-list-contain{
    margin: 10px 0;
    width: 90%;
    /* background-color: #15406e; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.single-booking-coupon{
    width: 80%;
    height: 3rem;
    margin-top: 10px;
    padding: 5px 10px;
    height: max-content;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 7px;
}
/* .single-booking-coupon>p{
    font-size: 14px;
    color: #3c57d0;
    cursor: pointer;
} */
.single-booking-coupon:hover{
    background-color: #c3ceff95;
    color: rgb(73, 73, 73);
}
.coupon-applied-text{
    font-size: 13px;
    color: red;
    cursor: pointer;
}
.coupon-apply-text{
    font-size: 14px;
    color: #3c57d0;
    cursor: pointer;
}





/* booking-success */


.booking-succ-bg{
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.booking-success-main-container{
    margin-top: 2rem;
    background-color: white;
    /* height: 70vh; */
    width: 75%;
    padding-bottom: 15px;
    box-shadow: 0 0 18px 5px #0000003e;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.booking-heading-div{
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.booking-summary-heading{
    color: #15406e;
}
.booking-success-gif-container{
    width: 100%;
    height: 15rem;
    display: flex;
}
.booking-success-no-coupon{
    /* width: 80%; */
    height: 15rem;
}
.booking-gif{
    width: 100%;
    height: 100%;
}
.booking-summary-container{
    width: 80%;
    padding: 20px 0;
}
.summary-img-container{
    width: 100%;
    margin-top: 13px;
    display: flex;
}
.summary-img-contain{
    width: 25%;
    height: 8rem;
    margin-right: 1rem;
}
.summary-image{
    width: 100%;
    height: 100%;
    box-shadow: 0 0 5px 5px #0000003e;
}
.summary-resort-headings{
    font-weight: bold;
}
.summary-resort-name{
    font-weight: bold;
    color: #15406e;
    margin-top: 10px;
}
.summary-checkin{
    margin-top: 10px;
    box-shadow: 0 0 5px 5px #0000003e;
    width: max-content;
    padding: 7px;
    border-radius: 4px;
}
.booking-summary-btn{
    border: none;
    border-radius: 4px;
    height: 40px; 
    width: 120px;
    background-color: #3c57d0;
    color: white;
    font-size: 17px;
    cursor: pointer;
}
.booking-payment-info{
    display: flex;
    justify-content: space-between;
}
.summary-resort-payment{
    font-weight: bold;
    margin-top: 10px;
}
.adventure-booking-name-email{
    width: 92%;
    display: flex;
    gap: 1rem;
}
.booking-input-half{
    width: 40%;
    border: none;
    border-radius: 3px;
    padding: 12px 15px;
    margin-bottom: 3px;
}
.booking-reward-coupon-code{
    width: max-content;
    text-align: center;
    font-weight: bold;
    border-radius: 2px;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #dadada;
}
.booking-summary-btn-contain{
    display: flex;
    gap: 1rem;
}
.download-summary-btn{
    border: none;
    border-radius: 4px;
    height: 40px; 
    width: 53%;
    background-color: #3cd05c;
    color: white;
    font-size: 17px;
    cursor: pointer;
}