.header-navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    border-radius: 10px;
    padding: 0 20px;
    box-shadow: 4px 4px 10px 7px #0000003e;
    height: 3.8rem;
    
}
.nav-container {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
    font-size: 1.2rem;
    font-weight: 900;
    text-transform: uppercase;
  }
.toggle{
    display: none;
}
.header-navbar>ul{
    padding-left: 0;
    display: flex;
    gap: 4rem;
    list-style-type: none;
}
.nav-item{
    text-decoration: none;
    color: #023e8a;
    font-size: 1.2rem;
    transition: 0.1s ease-in-out;
    
}
.nav-item:hover{
    color: #023e8a;
}
.login-btn{
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 0.3rem;
    border: none;
    color: white;
    background-color: #4361ee;
    font-size: 1.1rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    transition: 0.3s ease-in-out;
    
}
.login-btn:hover{
    background-color: #023e8a;
    color: white;
}
.nav-right-group{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}